#projects {
  background-color: #2d2e32;
  display: flex;
  padding: 50px 100px;
}
.project_des {
  width: 100%;
  margin: 3% 0;
}
.project_des > .content {
  margin: 20% 10% 0 15%;
  transform: translateX(20%);
  opacity: 0;
  transition: 2s ease;
}
.project_des > .content.active {
  transform: translateX(0);
  opacity: 1;
}
.project_des > .content h6 {
  color: #64f4ab;
}
.project_des > .content h2 {
  font-size: 30px;
  padding: 10px 0;
  line-height: 1.5;
}
.project_des > .content p {
  font-size: 17px;
  opacity: 0.9;
  padding: 0 0 20px 0;
  line-height: 1.2;
}

.project_img {
  margin: 3% 0;
  width: 100%;
  position: relative;
}
.border {
  position: absolute;
  top: 9%;
  left: 7%;
  width: 85%;
  height: 95%;
  border: 50px solid #ffffff6f;
  border-radius: 20px;
  transform: rotate(-10deg);
}
.project_img img {
  width: 77%;
  position: relative;
  top: 10%;
  left: 10%;
  transform: rotate(-10deg);
  transition: 2s ease;
  border-radius: 20px;
}
.project_img img.active {
  transform: rotate(0);
}
@media (min-width: 350px) and (max-width: 767px) {
  #projects {
    flex-direction: column;
    padding: 50px 5px;
  }
  .project_des {
    margin: 10% 0;
  }
  .project_des > .content {
    margin: 10% 8% 0 5%;
  }
  .project_des > .content h2 {
    font-size: 25px;
  }
  .project_des > .content p {
    padding: 0 0 20px 0;
  }
}
